@model CarsStore.Models.Manufactury

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Manufactury</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name_man)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name_man)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descrip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descrip)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_man }) |
    @Html.ActionLink("Back to List", "Index")
</p>
