@model CarsStore.Models.Car

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Car</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name_car)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name_car)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Consumption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Consumption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Doors)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doors)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Achievement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Achievement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cub_capacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cub_capacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seats)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Delivery)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Delivery)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Navigation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Navigation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Climatisation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Climatisation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ABS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ABS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Leather_interior)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Leather_interior)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Xenons)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Xenons)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
